<section id="business-x-home-section" class="main-banner parallax" style="background-image:url('<%= image_path('one/img/home-bg.jpg')%>');">
  <div class="bg-opacity-layer"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="banner-text text-center">

          <style>
          </style>
          <div><h1>Создай свою команду лидеров <br/></h1></div>
          <div style="clear: both;margin-top: -50px;"><h1>с <span style="width: 0px;display: inline-block;height: 70px;overflow: hidden;" class="alt-font text-primary typewrite" data-period="20000" data-typ='[ "General Sherman " ]'><span id="t_inner">General Sherman</span></span>...</h1></div>
          <p class="lead">Автоматический генератор МЛМ-команды и стартового капитала</p>
          <div class="btn-wrap">
            <!-- Download botton -->
            <a href="#business-x-plan-section" class="a-btn btn-more"><i class="fa fa-usd" aria-hidden="true"></i>Выбрать план</a>
            <!-- Video -->
            <a href="https://www.youtube.com/watch?v=w4ObCmCachs" class="a-btn btn-more lightbox mfp-iframe" title="Посмотреть видео"><i class="fa fa-play"></i>Посмотреть видео</a>
          </div>
          <small class="em btm-line">Нас уже <span style="font-size:19px;"><b><%= total_users%></b></span></small>
          <div id="business-x-about-section"> </div>
        </div>
      </div>
    </div>
  </div>
  <div class="phone-mockup about-style">
    <div class="container">
      <div class="row">
        <div class="col-md-6 reveal-left-fade">
          <!-- home  business -->
          <%= image_tag('one/img/home-about.png', alt: 'mobile business')%>
        </div>
        <div class="col-md-6">
          <!-- about business -->
          <div class="about-business">
            <h2><span>O</span> Проекте</h2>
            <p>General Sherman − уникальный проект, созданный специально для интернет-предпринимателей, строящих свой бизнес в МЛМ-проектах и всевозможных партнерских программах. Для того, чтобы эффективно запустить и развивать бизнес в этой сфере очень полезно иметь команду сплоченных партнеров, имеющих необходимый уровень свободных средств для старта в партнерской программе.</p>
            <p>General Sherman позволяет быстро и просто сформировать собственную команду лидеров, снабдить всех ее участников необходимым стартовым капиталом и выбрать интернет-проект с максимально выгодными условиями сотрудничества.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>