<footer id="business-x-footer-" class="footer-st-25 text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- Sponsor title -->
        <div class="sponsors-content-inner">

          <h2>Инвестиционный кейс</h2>

          <p>Ознакомьтесь с лидерами нашего инвестиционного кейса</p>
          <!-- Sponsor button -->
          <div class="sponsors">
            <a href="#"><%= image_tag('one/img/s1.png', alt: 'sponsor')%></a>
            <a href="#"><%= image_tag('one/img/s2.png', alt: 'sponsor')%></a>
            <a href="#"><%= image_tag('one/img/s3.png', alt: 'sponsor')%></a>
            <a href="#"><%= image_tag('one/img/s4.png', alt: 'sponsor')%></a>
          </div>
        </div>
      </div>
    </div>

    <div class="section-subscribe section-subscribe-st-25">
      <!--==================
Subscribe section
================== -->
      <!-- Social icons -->
      <ul class="social-rounded social-icon">
        <li>
          <a target="_blank" href="https://www.facebook.com/GenSherman/">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-vk"></i>
          </a>
        </li>
        <li>
          <a target="_blank" href="https://www.youtube.com/c/Generalshermansystem">
            <i class="fa fa-youtube"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-instagram"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-google-plus"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
      </ul>
      <div class="copyright">
        <p>Copyright © 2016 <a href="#"> General Sherman </a></p>
      </div>
    </div>
  </div>
</footer>