<section id="business-x-news-section">
  <div class="row" style="/*padding-top:100px;*/">
    <div class="section-title-news">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>НОВОСТИ</h2>
            <%= image_tag('one/img/title_line.png') %>
          </div>
        </div>
      </div>
    </div>
    <div class="business-x-why-choose">
      <div class="container">
        <div class="row">
          <!-- Single item -->
          <div class="bond-price-table col-md-4 col-sm-6 reveal-left-fade">
            <div class="bond-price-inner bg-ff">
              <div class="single-blog-item">
                <div class="blog-photo">
                  <%= image_tag('one/img/blog-01.jpg') %>
                  <div class="blog-post-date">
                    <h3>23-9-2016</h3>
                  </div>
                  <div class="blog-dtls-link">
                    <a href="#">Подробнее <i class="fa fa-share" aria-hidden="true"></i></a>
                  </div>
                </div>
              </div>
              <h2 class="box-title">Новость 1</h2>

              <div class="box-icon"></div>
              <div class="content-news">
                <p> План "Шанс" дает возможность участия в проекте целеустремленным и добросовестным людям с минимумом затрат. Воспользовавшись помощью партнеров-инвесторов, они получают доступ ко всем инструментам проекта с целью проявить себя, собственными руками и усердием построить свой бизнес в интернете</p>
              </div>
              <a href="#" class="a-btn btn-more btn-plan-sing"><i class="fa fa-info" aria-hidden="true"></i>Подробнее</a>
            </div>
          </div>
          <!-- Single item -->
          <div class="bond-price-table col-md-4 col-sm-6 reveal-left-fade">
            <div class="bond-price-inner bg-ff">
              <div class="single-blog-item">
                <div class="blog-photo">
                  <%= image_tag('one/img/blog-03.jpg') %>
                  <div class="blog-post-date">
                    <h3>26-9-2016</h3>
                  </div>
                  <div class="blog-dtls-link">
                    <a href="#">Подробнее <i class="fa fa-share" aria-hidden="true"></i></a>
                  </div>
                </div>
              </div>
              <h2 class="box-title">Новость 2</h2>

              <div class="box-icon"></div>
              <div class="content-news">
                <p> План "Шанс" дает возможность участия в проекте целеустремленным и добросовестным людям с минимумом затрат. Воспользовавшись помощью партнеров-инвесторов, они получают доступ ко всем инструментам проекта с целью проявить себя, собственными руками и усердием построить свой бизнес в интернете</p>
              </div>
              <a href="#" class="a-btn btn-more btn-plan-sing"><i class="fa fa-info" aria-hidden="true"></i>Подробнее</a>
            </div>
          </div>
          <!-- Single item -->
          <div class="bond-price-table col-md-4 col-sm-6 reveal-left-fade">
            <div class="bond-price-inner bg-ff">
              <div class="single-blog-item">
                <div class="blog-photo">
                  <%= image_tag('one/img/blog-02.jpg') %>
                  <div class="blog-post-date">
                    <h3>25-9-2016</h3>
                  </div>
                  <div class="blog-dtls-link">
                    <a href="#">Подробнее <i class="fa fa-share" aria-hidden="true"></i></a>
                  </div>
                </div>
              </div>
              <h2 class="box-title">Новость 3</h2>

              <div class="box-icon"></div>
              <div class="content-news">
                <p> План "Шанс" дает возможность участия в проекте целеустремленным и добросовестным людям с минимумом затрат. Воспользовавшись помощью партнеров-инвесторов, они получают доступ ко всем инструментам проекта с целью проявить себя, собственными руками и усердием построить свой бизнес в интернете</p>
              </div>
              <a href="#" class="a-btn btn-more btn-plan-sing"><i class="fa fa-info" aria-hidden="true"></i>Подробнее</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- End news section -->

</section>