<section id="business-x-why-choose-section">
  <div class="section-title">
    <div class="container">
      <div class="row">
        <!-- main title -->
        <div class="col-md-12">
          <h2>Мы изменили парадигму партнерского бизнеса!</h2>
          <%= image_tag('one/img/title_line.png') %>
        </div>
      </div>
    </div>
  </div>
  <div class="business-x-why-choose">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!-- Quote 1 -->
          <div class="item active">
            <blockquote>
              <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                  <h3>Говорят разработчики проекта General Sherman</h3>
                  <p>Разумеется мы не первые, кто задумался о том, что с приходом цифровых технологий MLM-бизнес тоже должен претерпеть кардинальные изменения. Однако, нам удалось придумать и воплотить концепцию, в рамках которой решительно все аспекты партнерского бизнеса поднимаются на новый уровень. Добро пожаловать в XXI век!</p>
                  <small><strong>General Sherman</strong> - команда разработчиков</small>
                </div>
              </div>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
    <!-- end container -->
  </div>
</section>