<section id="business-x-service-section">
  <div class="section-title">
    <div class="container">
      <div class="row">
        <!-- main title -->
        <div class="col-md-12">
          <h2>Уникальные преимущества</h2>
          <%= image_tag('one/img/title_line.png') %>
          <p>Проект General Sherman обеспечивает участников инструментами для эффективного набора команд, быстрого формирования стартового капитала, а также выбора проектов с наиболее выгодными партнерскими программами</p>
        </div>
      </div>
    </div>
  </div>
  <div id="section-services">
    <!-- service AREA START HERE -->
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!-- /.SINGLE ITEM START -->
          <div class="col-md-4 col-sm-6 reveal-right-delay">
            <div class="single-service single-service-bottom">
              <div class="heading">
                <span class="icon"><i class="fa fa-user-plus" aria-hidden="true"></i></span>
                <h5 class="title font-black text-uppercase"><a href="#">Инструменты для рекрутинга</a></h5>
              </div>
              <p>
                С General Sherman вам нет необходимости гоняться за знакомыми и незнакомыми людьми, приглашая их в свою команду. Благодаря пакету инструментов, предоставляемому вам General Sherman, нужные люди сами найдут вас. Вам останется только выбрать лучших из них!
              </p>
            </div>
            <!-- /.END SINGLE-service -->
          </div>
          <div class="col-md-4 col-sm-6 reveal-right-delay">
            <div class="single-service single-service-bottom">
              <div class="heading">
                <span class="icon"><i class="fa fa-sitemap" aria-hidden="true"></i></span>
                <h5 class="title font-black text-uppercase"><a href="#">Уникальный маркетинг-план</a></h5>
              </div>
              <p>
                Каждый член вашей команды автоматически добавляет еще двоих! В результате ваша команда формируется втрое быстрее General Sherman утраивает ваши усилия!
              </p>
            </div>
            <!-- /.END SINGLE-service -->
          </div>
          <div class="col-md-4 col-sm-6 reveal-right-delay">
            <div class="single-service single-service-bottom">
              <div class="heading">
                <span class="icon"><i class="fa fa-gear" aria-hidden="true"></i></span>
                <h5 class="title font-black text-uppercase"><a href="#">Генератор стартового капитала</a></h5>
              </div>
              <p>
                Используя General Sherman вы не только зарабатываете деньги на текущие расходы с изумительной эффективностью, но и формируете стартовый капитал для последующего входа в другие интернет-проекты
              </p>
            </div>
            <!-- /.END SINGLE-service -->
          </div>
        </div>
        <div style="clear:both"></div>
        <div class="col-md-12">
          <div class="it-awesome-img reveal-right-delay col-md-12">

            <%= image_tag('one/img/vantage.png') %>

          </div>

        </div>
        <div style="clear:both"></div>
        <div class="col-md-12">
          <div class="col-md-4 col-sm-6 reveal-right-delay">
            <div class="single-service">
              <div class="heading">
                <span class="icon"><i class="fa fa-star-half-full" aria-hidden="true"></i></span>
                <h5 class="title font-black text-uppercase"><a href="#">Рейтинг компаний</a></h5>
              </div>
              <p>
                Рейтинг компаний позволяет выбрать проект с наиболее "денежной" партнерской программой, позволяющий при минимуме усилий со стороны команды получить наибольший эффект…
              </p>
            </div>
            <!-- /.END SINGLE-service -->
          </div>
          <div class="col-md-4 col-sm-6 reveal-right-delay">
            <div class="single-service">
              <div class="heading">
                <span class="icon"><i class="fa fa-money" aria-hidden="true"></i></span>
                <h5 class="title font-black text-uppercase"><a href="#business-x-footer">Инвестиционный кейс</a></h5>
              </div>
              <p>
                Инвестиционный кейс позволяет партнерам проекта принять участие в определении наиболее подходящих для сотрудничества интернет проектов…
              </p>
            </div>
            <!-- /.END SINGLE-service -->
          </div>
          <div class="col-md-4 col-sm-6 reveal-right-delay">
            <div class="single-service last-it">
              <div class="heading">
                <span class="icon"><i class="fa fa-umbrella" aria-hidden="true"></i></span>
                <h5 class="title font-black text-uppercase"><a href="#">Безопасность</a></h5>
              </div>
              <p>
                GS позволяет одновременно с построением команды создавать стартовый капитал, который используется для инвестирования в других проектах. Это в сочетании в возможностями инвестиционного кейса сводит риск потери инвестиций к минимуму…
              </p>
            </div>
            <!-- /.END SINGLE-service -->
          </div>
        </div>
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
</section>