%div
  %h1.logo-name
    = image_tag('home/gensherman.png', alt: t('site.title'))
%h2.text-white Сообщество интернет-предпринимателей
%p.text-white Система создания дилерской сети и стартового капитала
