%h2 Бизнес-предложение от General Sherman
%p Представим, что  у Вас уже есть любимая сетевая компания, которая, на ваш взгляд, не имеет аналогов! Надежность, отличный продукт, маркетинг-план и множество возможностей входа. Вы понимаете, что самый выгодный тариф, к примеру, $1000 или $3000. Но вот вопрос: сколько раз Вы сможете продать эту возможность своим рефералам  и как быстро они вас продублируют?
%h3 Мы предлагаем  простую систему,  которая позволит  Вам оперативно создать не только   команду, но и стартовый капитал для бизнеса не только для вас , но и для членов вашей команды. Даже если Вы новичок, но целеустремленный человек, благодаря нашей системе успех Вам гарантирован!
%h4 Мы учли интересы трех категорий людей:
%ol
  %li
    %strong Инвесторы
    − это люди, которые смогут  развивать  бизнес с нами без приглашений, благодаря своим инвестициям.
  %li
    %strong Сетевики-профессионалы
    − люди, которые имеют опыт  создания команды  и имеют возможность оплатить  свое участие в системе.
  %li
    %strong Начинающие сетевики
    − целеустремленные люди с опытом создания команд и без, не имеющие возможности оплатить свой старт, но готовые  приложить  максимум  усилий, чтобы добиться отличных результатов.
%h4 Инструменты  − продукт системы General Sherman
%p Система General Sherman включает в себя полный набор инструментов для рекрутинга рефералов, создания надежной команды и формирования стартового капитала для каждого из ее участников.
%ol
  %li Виртуальный кабинет со всей необходимой статистикой
  %li Страницы захвата (landing pages)
  %li Инструменты для рекрутинга
  %li Система создания стартового капитала
  %li Система создания команды
  %li Инвестиционный кейс
  %li Модуль для инвестиций
  %li Персональный новостной блог
  %li Рейтинг компаний
  %li Служба технической поддержки партнеров
%h4 Стоимость аренды полного набора  инструментов на год − $500.
%h3 Возможности старта
%p Для разных категорий участников предлагаются следующие варианты старта:
%ol
  %li Единовременная Оплата  $500. Дает  возможность получать доход  с момента оплаты и активации.
  %li Поэтапная оплата с $25. Дает возможность использовать инструменты в полном объеме  и  заработать  на полную стоимость аренды уже будучи в системе. Получение прибыли начинается после полной оплаты аренды инструментов на год.
  %li Получение кредитного ваучера в размере $25 для старта. Дает возможность  начать бизнес вообще без вложений  и,  используя инструменты в полном объеме,  заработать внутри системы сумму, необходимую для оплаты аренды инструментов на год. Получение прибыли начинается после полной оплаты аренды инструментов на год.
%h3 Специальное предложение для Инвесторов
%p Создание  кредитного ваучера $25. Дает возможность  запустить генератор команды без приглашений и получать прибыль.
%h3 Маркетинг
%p Каждая активация нового партнера в вашем личном кабинете приносит вам  80% прибыли от стоимости инструментов  General Sherman. 20% отчисляются на развитие системы.
%h3.centered Запуск Генератора команды
%p Первый партнер  оплачивает вам $400 и становится членом вашей команды
%p Партнеры, использующие для старта кредитный ваучер, первого партнера приглашают в команду инвестора. Прибыль от приглашения в размере $400 также получает инвестор.*
%p 2-й  и 4-й партнер зачисляются в команду спонсора; он же получает прибыль в размере $400 за каждого из них
%p 1-й, 3-й, 5-й, 6-й и все следующие партнеры зачисляются в вашу команду; прибыль от них в размере $400 поступает вам.
%h3.centered Пример расчета прибыли
%p Каждый ваш партнер пригласил в вашу команду двоих партнеров, от  которых вы получаете по $400
%table.table.table-striped.table-bordered
  %thead
    %tr
      %th статус
      %th команда
      %th доход
      %th Моментальный вывод
      %th Инвестиционный кейс
  %tbody
    %tr
      %td *
      %td 4
      %td $1600
      %td $800
      %td $800
    %tr
      %td **
      %td 8
      %td $3200
      %td $1600
      %td $1600
    %tr
      %td ***
      %td 16
      %td $6400
      %td $3200
      %td $3200
    %tr
      %td ****
      %td 32
      %td $12800
      %td $6400
      %td $6400
    %tr
      %td *****
      %td 64
      %td $25600
      %td $12800
      %td $12800
  %tfoot
    %tr
      %th Всего
      %th 124
      %th $49600
      %th $24800
      %th $24800

%h3 Инвестиционный кейс
%p 50% прибыли, получаемой вами в процессе рекомендации системы General Sherman партнерам и приглашения новых участников остается в вашем распоряжении. Еще 50% вашей прибыли поступают на инвестиционный счет с целью инвестирования в проверенные и  надежные проекты. Объекты для инвестирования отбираются лидерским составом и по голосам участников по формуле :
%h4 ( Востребованный продукт) +(Надежность) + маркетинг ( 6лп*6лп=максимальная прибыль)
%p Прибыль от инвестирования в эти проекты поступает на ваш счет.