%h2= t('footer.privacy')
%p
  %div Важная информация об использовании этого сайта
  %div
    Мы уделяем особое внимание конфиденциальности Ваших данных. Политика, в основе которой лежат эти предпосылки, отражает порядок сбора, использования, передачи и раскрытия персональных данных. Ниже приведены основные положения нашей политики конфиденциальности.

%p
  %div
    Прежде чем собирать персональные данные, мы определяем цель, для которой будет осуществляться их сбор.
    Собранные данные будут использоваться исключительно в соответствии с определенной нами целью и другими аналогичными целями, за исключением случаев, когда заинтересованное лицо дало согласие на иное использование его данных, или же иное использование осуществляется в соответствии с законодательством.
    Персональные данные хранятся только в течение того срока, который необходим для достижения установленных целей.
  %div
    Персональные данные собираются законными и честными методами с ведома или согласия заинтересованного лица, насколько это необходимо.
    Собранные персональные данные должны соответствовать цели их использования и применительно к этой цели должны быть точными, полными и актуальными.
    Применяя разумные меры безопасности, мы защищаем персональные данные от утраты, кражи, несанкционированного доступа, раскрытия, копирования, использования и модификации.
  %div
    Наша политика конфиденциальности и информация о процедурах работы с персональными данными доступны для ознакомления.
    Мы обязуемся работать в соответствии с указанными выше принципами для обеспечения конфиденциальности персональных данных.