# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 7f1ff45466790bc8780434db055eb9edd921bd1906c4dd591bf57a184a3a02a7ca2af2a3e5bd34e40b4c6b739dfc14e02e9831561b0fac3beceba0eeeafa2e1f
  email_username: postmaster@gensherman.com
  email_password: 921ccdf15b07d64
  host: staging.gensherman.com
  auth_twitter_id:
  auth_twitter_key:
  auth_facebook_id:
  auth_facebook_key:
  auth_linkedin_id:
  auth_linkedin_key:
  google_oauth2:
  auth_google_key:
  auth_vkontakte_id:
  auth_vkontakte_key:
  auth_odnoklassniki_id:
  auth_odnoklassniki_key:
  auth_odnoklassniki_public_key:

test:
  secret_key_base: 7edf8728e7f2d9d3a4a305127e99cd56f8bacaaa5b11507617bc978cf27358cce4011b7d7ef2d640277c6fe75404d22a638d6eb9221514fb8d90d9813e929fd7

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
