%ol.gtree.sortable_tree.expandable{ data: { rebuild_url: rebuild_old_users_url, expand_node_url: expand_node_old_users_url, cookie_store: :true, cookie_scope: @users.first.class } }
  = expandable_tree @users, {render_module: UsersHelper}